requests
pytest
pytest-mock

requests_mock
python-dotenv
beautifulsoup4
discord-webhook
psycopg2-binary

flask
flask_swagger_ui
flask-sqlalchemy
flask_bcrypt
flask-cors
Flask-Migrate
Flask-JWT-Extended


sqlalchemy-serializer
pydantic
pydantic[email]
boto3

geopy