requests
pytest
pytest-mock

requests_mock
python-dotenv
beautifulsoup4
psycopg2-binary

flask
flask_swagger_ui
flask-sqlalchemy
flask_bcrypt
flask-cors
Flask-Migrate
Flask-JWT-Extended

sqlalchemy-serializer
pydantic

boto3

geopy