requests
pytest

requests_mock
python-dotenv
beautifulsoup4
psycopg2-binary

flask
flask_swagger_ui
flask-sqlalchemy
flask_bcrypt
flask-cors
flask-session
Flask-Migrate

sqlalchemy-serializer
pydantic
